name: Sidr Scan Runner

on:
  schedule:
    - cron: '0 5 * * 1-5'
  workflow_dispatch:
  
jobs:
  restore-job:
    runs-on: ubuntu-20.04
    steps:
      - name: Download the lastest artifact
        id: latest_artifact
        continue-on-error: true
        run: |
          wget --header "Accept: application/vnd.github.v3+json" --header "Authorization: token ${{github.token}}" https://api.github.com/repos/${{github.repository}}/actions/artifacts -O - \
            | grep -o 'https://[^"]*/zip' \
            | head -n 1 \
            | wget -P /tmp --header "Authorization: token ${{github.token}}" --input-file - \
            && unzip /tmp/zip -d /tmp
      - run: ls -la /tmp
      - name: Cache radump
        uses: actions/upload-artifact@v2
        with:
          name: radump
          path: /tmp/output.radump
        if: steps.latest_artifact.outcome == 'success'
  scan-job:
    needs: [restore-job]
    runs-on: ubuntu-20.04
    container:
      image: sider/sider_scan_runner:0.0.2
      env:
        TZ: Asia/Tokyo
      options: -v ${{github.workspace}}:/builds
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          ref: master
          persist-credentials: false
          path: builds
      - name: Download radump
        continue-on-error: true
        uses: actions/download-artifact@v2
        with:
          name: radump
          path: /tmp
      - run: |
          echo "{ \
            \"user\": { \"contactEmail\": \"dev@siderlabs.com\" }, \
            \"channels\": { \
              \"email\": { \
                \"useBuiltInProvider\": false, \
                \"providers\": [ \
                  { \
                    \"type\": \"smtp\", \
                    \"port\": 587, \
                    \"host\": \"${{ secrets.siderscan_mailserver }}\", \
                    \"auth\": { \
                      \"type\": \"login\", \
                      \"user\": \"${{ secrets.siderscan_mail_key }}\", \
                      \"pass\": \"${{ secrets.siderscan_mail_secret }}\" \
                    }, \
                    \"secure\": true \
                  } \
                ], \
                \"defaults\": { \
                  \"from\": \"scan-dev@siderlabs.com\" \
                } \
              } \
            }, \
            \"report\": { \
              \"onlyIfDetect\": true, \
              \"enableDetailReport\": true \
            } \
          }" > .siderscan.json
      - name: Start analysis
        working-directory: /scan
        run: |
          sider run \
          -c /builds/.siderscan.json \
          -p /builds/ \
          -f /tmp/output.radump \
          -t "\"Sider Scan Developer\" <scan-dev@siderlabs.com>"
      - name: Upload radump
        uses: actions/upload-artifact@v2
        with:
          name: radump
          path: /tmp/output.radump
